<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="|#{multiChatCss}?${#temporals.format(localDateTime,'yyyy-MM-dd HH:mm:ss')}|">

  <!--  js 라이브러리-->
  <script
          src="https://code.jquery.com/jquery-3.6.3.min.js"
          integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
          crossorigin="anonymous"></script>
</head>
<body>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div id="wrapper">
  <h3>If you like my post click here!</h3>
  <h4><a href="https://akshaysyal.wordpress.com/">Akshay Syal UI UX Design</a></h4>
  <h4><a href="http://gyancode.blogspot.in/">Gyancode</a></h4>

  <div id="loadgrid">
    <div class="tabs-left" th:object="${memberDto}">
      <div id="title_starts" class="chat-title">
        <ul class="nav nav-tabs">
          <span class="search">
            <input type="text" value="Search" class="input_search"></span>
          <li class="active"><a href="">
            <h3 class="name">Akshay Syal</h3><span class="online"></span>
            <h4 class="sub-msg">Lorem Ipsum is simply dummy,</h4>
            <h4 class="min">1 min</h4>
          </a></li>
          <li class=""><a href="">
            <h3 class="name">Ankush Syal</h3>
            <h4 class="sub-msg">I know where my love,</h4>
            <h4 class="min">24 min</h4>
          </a></li>
          <li class=""><a href="">
            <h3 class="name">Ruchi Choudhary</h3>
            <h4 class="sub-msg">when an unknown printer...</h4>
            <h4 class="min">1 Days</h4>
          </a></li>
          <li class=""><a href="">
            <h3 class="name">Rahul Choudhary</h3>
            <h4 class="sub-msg">Lorem Ipsum has been...</h4>
            <h4 class="min">2 Days</h4>
          </a></li>
        </ul>
      </div>
      <div class="tab-content chat-des">
        <div id="conversaion_starts" class="tab-pane active"><span class="title">
            <h3>Akshay Syal <strong>is typing....</strong></h3>

            <span class="video icons"><img src="https://akshaysyal.files.wordpress.com/2017/03/icon_vdo.png" alt="" /></span>
            <span class="call icons"><img src="https://akshaysyal.files.wordpress.com/2017/03/icon_call.png" alt="" /></span>
            <span class="star icons"><img src="https://akshaysyal.files.wordpress.com/2017/03/icon_star.png" alt="" /></span>
          </span>
          <div class="message-info">
            <div class="full"><img src="https://akshaysyal.files.wordpress.com/2017/03/profile.jpg" class="dp">
              <span class="text">Hi...</span>
              <h5>15 min</h5>
            </div>
            <div class="full snd_row">
              <img src="https://akshaysyal.files.wordpress.com/2017/03/profile.jpg" class="dp">
              <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
              <h5>12 min</h5>
            </div>
            <div class="full">
              <img src="https://akshaysyal.files.wordpress.com/2017/03/profile.jpg" class="dp">
              <span class="text">Lorem Ipsum is simply dummy text.</span>
              <h5>10 min</h5>
            </div>
            <div class="full snd_row">
              <img src="https://akshaysyal.files.wordpress.com/2017/03/profile.jpg" class="dp">
              <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
              <h5>9 min</h5>
            </div>
            <div class="full">
              <img src="https://akshaysyal.files.wordpress.com/2017/03/profile.jpg" class="dp">
              <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
              <h5>6 min</h5>
            </div>
            <div class="full snd_row">
              <img src="https://akshaysyal.files.wordpress.com/2017/03/profile.jpg" class="dp">
              <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
            </div>
            <div class="full snd_row">
              <img src="https://akshaysyal.files.wordpress.com/2017/03/profile.jpg" class="dp">
              <span class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span>
              <h5>2 min</h5>
            </div>
          </div>
          <div class="reply">
            <div class="attach">
              <a href=""><img src="https://akshaysyal.files.wordpress.com/2017/03/attch_big.png" alt="" width="16" /></a>
            </div>
            <div class="reply-area">
              <textarea class="form-control" placeholder="Type your message...."></textarea>
            </div>
            <div class="reply-submit">
              <button type="button" class="btn btn-default simple-btn text-center"><img src="https://akshaysyal.files.wordpress.com/2017/03/send_icon.png"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="|#{multiChatJs}?${#temporals.format(localDateTime, 'yyyy-MM-dd HH:mm:ss')}|"></script>
</body>
</html>

<!--Copyright (c) 2023 by Akshay (https://codepen.io/syalakshay/pen/PpKOQe)-->