<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
</head>
<body>
<form th:object="${memberDto}" method="post" enctype="multipart/form-data" id="myInfoForm">
    <img th:if="${memberDto.profileImg.storeFilename == null}" th:src="@{/img/default.png}">
    <img th:if="${memberDto.profileImg.storeFilename != null}"
         th:src="|/my-info/images/${memberDto.getProfileImg().getStoreFilename()}|" id="profileImg">
    <!--springmvc 11222행 참고 -->

    <label for="uploadFilename"
           style="padding: 6px 10px; background-color:#FF6600; border-radius: 4px;
               color: white; cursor: pointer;">프로필 사진 수정</label>
    <!--        <input type="file" id="uploadFilename" name="uploadFilename" style="display: none" onchange="changeProfileImg()"/><br>-->
    <input type="file" id="uploadFilename" name="uploadFilename" style="display: none"
           onchange="changeProfileImg()"/><br>
    <label th:for="username">이름&nbsp</label><input type="text" th:field="*{username}"><br>
    <label th:for="age">나이&nbsp</label><input type="text" th:field="*{age}"><br>
    <label th:for="gender">성별&nbsp</label><input type="text" th:field="*{gender}"><br>
    <label th:for="cash">보유 캐시&nbsp</label><input type="text" th:field="*{cash}">
    <button type="button" onclick="submitForm()">수정</button>
</form>
    <script th:src="|#{myInfoJs}?${#temporals.format(localDateTime,'yyyy-MM-dd HH:mm:ss')}|" ></script>
</body>
</html>